.crop-image-wrapper {
  height: 100%;
  position: relative;
  .flip-horizontal {
    transform: rotate(90deg);
  }
  .mat-card-actions{
    text-align: center;
    padding: 0;
  }
  .mat-card{
    text-align: center;
  }
  .image-container {
    /*max-height: calc(100vh - 100px);*/
    width: 100%;
    height: 100%;
    img {
      max-width: 100%;
      height: 100%;
      display: block;
    }
  }
  .crop-options-container {
    width: 200px;
    position: absolute;
    top: 10px;
    left: 10px;
    & > * {
      width: 100%;
    }
    label {
      width: 100px;
      display: inline-block;
      text-align: left;
    }
    .info-icon {
      margin-top: 5px;
      margin-top: 4px;
      margin-left: 5px;
      font-size: 18px;
    }
    .mat-icon-button {
      height: 46px;
      width: 46px;
      line-height: 46px;
      .mat-icon {
        height: 29px;
        width: 29px;
        line-height: 29px;
        font-size: 29px;
      }
    }
    .crop-rotate-wrapper{
      .mat-icon{
        margin-top: 10px;
        position: relative;
        top: 5px;
      }
      .mat-slider{
        width: 160px;
        margin-left: 10px;
      }
    }
  }
  .crop-options-container-mobile{
    display: none;
    padding: 10px;
    margin-top: 10px;
    .mat-card-content,
    .mat-card-actions{
      margin-bottom: 0px;
    }
    .mat-card-actions{
      margin-top: 10px;
    }
  }

  @media (max-width: 1000px) {
    height: calc(100% - 114px);
    .crop-options-container {
      display: none;
    }
    .crop-options-container-mobile{
      display: block;
    }
  }
}
.cropped-image-wrapper{
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  height: 50%;
  position: relative;
  .file-name-container{
    margin-bottom: 10px;
  }
  .mat-card,.mat-card-content{
    height: 100%;
    position: relative;
    img{
      max-width:100%;
      max-height:100%;
      width: auto;
      height: auto;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
  }
  .mat-card-actions{
    margin-top: 20px;
  }
  @media (max-width: 1000px) {
    max-width: 100%;
  }
}
