/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.file-upload-wrapper {
  text-align: center;
  position: relative;
  height: 100%;
  .mat-display-3 {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -0.01562em;
    margin-bottom: 0.35em;
    font-size: 3rem;
  }
  .mat-headline {
    margin-bottom: 0.35em;
    color: #0000008a;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -0.00833em;
  }
  .file-upload-container {
    margin-top: 10px;
    > div {
      > div {
        margin-top: 20px;
      }
      button {
        margin-top: 20px;
      }
    }
    @media (min-width: 768px) {
      width: 100%;
      max-width: 600px;
      margin: 0 auto;
      border: 1px dashed #6f7b91;
      height: 350px;
      text-align: center;
      overflow: hidden;
      background: #fafafb;
      display: flex;
      align-items: center;
      justify-content: center;
      .mobile-text {
        display: none;
      }
    }
    @media only screen and (max-width: 768px) {
      /* For mobile phones: */
      svg {
        display: none;
      }
      .desktop-text {
        display: none;
      }
    }
  }
  .loading-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    height: 350px;
    text-align: center;
    overflow: hidden;
    mat-spinner {
      margin: 0 auto;
    }
  }
}
.fill-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
.mat-chip-list .mat-chip-list-wrapper {
  justify-content: center;
  .mat-standard-chip {
    &:hover::after,
    &:focus::after {
      opacity: 0;
    }
  }
}

.fab-button {
  .mat-button-wrapper {
    padding: 0px !important;
    .mat-icon {
      width: 40px;
      height: 40px;
      font-size: 40px;
    }
  }
}
.edit-button {
  min-width: 0px !important;
  padding: 0 5px !important;
  .mat-icon {
    font-size: 20px;
    height: 20px;
    width: 20px;
  }
}

a.not-button {
  color: #0b1033;
  text-decoration: none;
  &:hover {
    color: #22319c;
  }
  &:focus {
    color: #7854f7;
  }
}

.hide {
  display: none !important;
}

.loading-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner .8s linear infinite;
}
