/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #fafafa;
}

.file-upload-wrapper {
  text-align: center;
  position: relative;
  height: 100%;
  .mat-display-3 {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -0.01562em;
    margin-bottom: 0.35em;
    font-size: 3rem;
  }
  .mat-headline {
    margin-bottom: 0.35em;
    color: #0000008a;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -0.00833em;
  }
}

.mat-chip-list .mat-chip-list-wrapper {
  justify-content: center;
  .mat-standard-chip{
    &:hover::after, &:focus::after {
      opacity: 0;
    }
  }
}

.fab-button{
  .mat-button-wrapper{
    padding: 0px !important;
    .mat-icon{
      width: 40px;
      height: 40px;
      font-size: 40px;
    }
  }
}
